.introduceECAwrapper {
    display: flex;
    gap: 10px;
}
#HHH {
    background-image: linear-gradient(to right, rgb(222, 159, 211), rgb(225, 66, 182));
    -webkit-background-clip: text;
    color: transparent; 
}
#HHH, #ICM, #HPO {
    font-weight: 600;
    font-size: 25px;
    transition: 0.4s;
    transform: rotate(0deg);
    display: inline-block;
}
#HHH:hover {
    transform: rotate(-5deg);
}
#ICM:hover {
    transform: rotate(-5deg);
}
#HPO:hover {
    transform: rotate(-5deg);
}
#HHHbeginWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.HHHimage {
    width: 100%;
    border-radius: 10px;
}
.HHHbeginMainLeft {
    width: 70%;
}
.HHHbeginMainRight {
    width: 30%;
}
#HPO {
    background-image: linear-gradient(to right, rgb(234, 144, 144), rgb(197, 14, 14));
    -webkit-background-clip: text;
    color: transparent; 
}
#HPObeginWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.HPOmain {
    width: 100%;
    gap: 20px;
}
.HPOimage {
    width: 100%;
    border-radius: 10px;
}
#ICM {
    background-image: linear-gradient(to right, rgb(144, 169, 234), rgb(14, 75, 197));
    -webkit-background-clip: text;
    color: transparent; 
}
#ICMbeginWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
#icmLeft {
    width: 50%;
}
#icmMid {
    width: 28.5%;
}
#icmRight {
    width: 21.5%;;
}
.icmLeftMain {
    width: 100%;
    border-radius: 10px;
}
.icmMidMain {
    width: 100%;
    border-radius: 10px;
}
.icmRightMain {
    width: 100%;
    border-radius: 10px;
}
#HHHendWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.HHHleftMain {
    width: 100%;
    border-radius: 10px;
}
.HHHmidMain {
    width: 100%;
    border-radius: 10px;
}
.HHHirightMain {
    width: 100%;
    border-radius: 10px;
}
/* > - < */
#HHHleft {
    width: 32%;
}
#HHHmid {
    width: 39%;
}
#HHHright {
    width: 29%;
}
.ICMleftMain2 {
    width: 100%;
    border-radius: 10px;
}
.ICMrightMain2 {
    width: 100%;
    border-radius: 10px;
}
#ICMendWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.ICMleft2 {
    width: 45.70%;
}
.ICMright2 {
    width: 54.30%;
}
/* OUTLNE BEGIN */
.outlineActivitiesWrapper {
    margin-bottom: 50px;
    padding: 20px;
}
#HHHwrapper, #ICMwrapper, #HPOwrapper {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}
#HHHwrapper, #HPOwrapper {
    background-color: rgb(225, 223, 223);
}
#ICMwrapper {   
    background-color: rgb(225, 223, 223);
}
.introduce1wrapper, .introduce2wrapper {
    margin-bottom: 15px;
}
.text2main, .text1main {
    color: #1b232b;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-indent: 20px;
    font-size: 25px;
}
.introduce1main, .introduce2main, .introduce3main {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.introduce2main {
    background-image: linear-gradient(to right, rgb(85, 125, 225), rgb(3, 24, 68));
    -webkit-background-clip: text;
    color: transparent;
}
.introduce1main {
    background-image: linear-gradient(to right, rgb(222, 58, 195), rgb(235, 4, 173));
    -webkit-background-clip: text;
    color: transparent; 
}
.introduce3main {
    background-image: linear-gradient(to right, rgb(209, 91, 91), rgb(235, 4, 4));
    -webkit-background-clip: text;
    color: transparent; 
}
.text1main, .text2main {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.angelICMprojectMain {
    text-indent: 20px;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    background-image: linear-gradient(to right, rgb(41, 225, 170), rgb(241, 48, 199));
    -webkit-background-clip: text;
    color: transparent; 
}
.NGOThhhProjectMain {
    text-indent: 20px;
    line-height: 1.5;
    font-size:30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    background-image: linear-gradient(to right, rgb(103, 156, 225), rgb(238, 106, 209));
    -webkit-background-clip: text;
    color: transparent; 
}
.HPOvideoWrapper {
    text-align: center
}
.HPOvideoIntroduce {
    text-indent: 20px;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    background-image: linear-gradient(to right, rgb(230, 233, 73), rgb(223, 68, 68));
    -webkit-background-clip: text;
    color: transparent; 
}
.HPOvideoIntroduce:hover {
    color: red;
    transform: scale(1.05);
}
.arrowAndVideoWrapper {
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}
#HPOarrowDownMain {
    font-size: 50px;
    background-image: linear-gradient(to right, rgb(221, 128, 128), rgb(255, 0, 0));
    -webkit-background-clip: text;
    color: transparent; 
}
.HPOarrowDown {
    transition: 0.4s all ease-in-out;
}
.HPOarrowDown:hover {
    transform: scale(1.1);
    animation: bounce 1s infinite;
}
@keyframes bounce{
    0%,100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px);
    }
}
.HPOarrowDown:hover {

}
.HPOvideoMain {
    text-decoration: none;
    font-size: 30px;
    font-weight: 550;
    background-image: linear-gradient(to right, rgb(221, 128, 128), rgb(255, 0, 0));
    -webkit-background-clip: text;
    color: transparent; 
    transform: scale(1);
    transition: 0.4s all ease-in-out;
}
.HPOvideoMain:hover {
    transform: scale(1.1);
}
.imageAngelWrapper, .imageNGOTWrapper {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.icmAngelLeft, .icmAngelMid, .icmAngelRight, .icmAngelRightEnd {
    width: 25%;
}
.icmAngelRightMain, .icmAngelMidMain, .icmAngelLeftMain, .icmAngelEndMain {
    width: 100%;
    border-radius: 10px;
}
.NGOTleftMain, .imgNGOTmidMain, .NGOTrightMain, .NGOTendMain {
    width: 100%;
    border-radius: 10px;
}
/* OUTLINE END */
/* https://www.facebook.com/100006030005990/videos/pcb.2483873688490274/1402169030457781 */
/* DRAWING IN Hoa Phuong Orphanage */